.case-studies {
  max-width: 100%;
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  }
  
  .case-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    gap:40px;
    margin-bottom: 50px;
  }
  
  .case-header h2 {
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    background: #B9FF66;
    padding: 0 7px;
    border-radius: 7px;
    color: black;
    line-height: auto;
    font-weight: 500;
  }
  
  .case-header p {
    font-size: 18px;
    color: black;
    line-height: auto;
    max-width: 35%;
  }
  
  /* Контейнер для кейсов */
  .case-container {
    display: flex;
    background: #191A23;
    color: #fff;
    border-radius: 45px;
    padding: 40px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    max-height:326px;
    height: 326px;
  }
  
  /* Адаптивность */
  @media (max-width: 1024px) {
    .case-container {
      flex-direction: column;
      gap: 20px;
      padding: 30px;
    }
  }
  