.companies {
  max-width: 100%;
  width: 100%;

  }
  
  .container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .company-logo {
    max-width:145px;
    height: auto;
    object-fit: contain;
  }
  

  @media (max-width: 1024px) {
    .container {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 5px;
    }
  }