.process-step {
    background: #f4f4f4;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid black;
  }
  
  .process-step.active {
    background: #caff95;
  }
  
  .step-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .step-number {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .step-description {
    margin-top: 10px;
    font-size: 16px;
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    .process-step {
      padding: 15px;
    }
  
    .step-number {
      font-size: 20px;
    }
  
    .toggle-btn {
      font-size: 20px;
    }
  }
  