.service-card {
  max-width: 100%;
  width: 600px;
  height: 310px;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 6px 0px #000; 
  border:#000 solid 1.5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-card:hover {
  transform: scale(1.05); 
  box-shadow: 12px 12px 0px #000; 
}

/* Контент внутри карточки */
.service-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: transparent;
}

/* белые блоки */
.service-card.white {
  background: #f5f5f5;
  color: #000;
}

.service-card.white button {
  color: #000;
}

.service-card.white h3 {
  background-color: #caff95;
}


/* зеленые блоки */
.service-card.green {
  background: #caff95;
  color: #000;
}

.service-card.green button {
  color: #000;
}

.service-card.green h3 {  
  background-color: white;
}


/* темные блоки */
.service-card.black {
  background: #191A23;
  color: #000;
}

.service-card.black button {
  color: white;
}

.service-card.black h3 {
  background-color: #B9FF66;
}



/* Заголовок */
.service-card h3 {
  font-size: 30px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 17px;
  width: 80%;
  font-weight: 500;
  background-color: transparent;

}

/* Картинка */
.service-image {
  max-width: 40%;
  height: auto;
  align-self: center;
  background-color: transparent;
}

.service-card button {
  font-size: 20px;
  font-weight: 500;
}



@media (max-width: 768px) {
  .service-card {
      width: 100%;
      height: auto;
      padding: 15px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap:10px;
      margin: 0 auto;
  }

  .service-content {  
      align-items: center;
      text-align: center;
  }


  .service-image {
      max-width: 40%;
  }

}
