.team-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    background: #fff;
    border-radius: 45px;
    padding: 45px 30px;
    position: relative;
    text-align: left;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black;
    color: black;
  }
  .member-header {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: stretch;
    gap:20px;
    margin-bottom: 30px;
  }
  .image-wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team-image {
    width: 102px;
    height: 102px;
  }
  .member-name-role {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .member-name-role h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }

  .role {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }
  
  
  .description-wrapper p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
  }

  
  /* Иконка LinkedIn */
  .linkedin-icon {
    position: relative;
    display: flex;
    margin-left: 100px;
    object-fit: contain;
  }
  
  .linkedin-icon img {
    width: 100%;
    height: auto;
    width: 34px;
    height: 34px;
  }
  
  @media (max-width: 768px) {
    .team-card {
      padding: 20px;
    }
  
    .member-header {
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .image-wrapper {
      width: 100px;
      height: 100px;
    }
  
    .team-image {
      width: 100px;
      height: 100px;
    }
    .linkedin-icon {
      position: relative;
      display: flex;
      width: 50px;
      height: 50px;
      margin-left: auto;
    }
    .linkedin-icon img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }