.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  }
  
  .testimonials-header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
    margin-bottom: 50px;
  }
  
  .testimonials-header h2 {
    font-size: 40px;
    font-weight: 500;
    background: #B9FF66;
    color: black;
    padding: 0 7px;
    border-radius: 5px;
  }
  
  .testimonials-header p {
    font-size: 18px;
    color: black;
    max-width: 30%;
  }
  
  /* Слайдер */
  .testimonial-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #191A23;
    color: #fff;
    padding: 40px;
    border-radius: 45px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    max-height: 400px;
    height: 400px;
  }
  
  /* Стрелки навигации */
  .nav-arrow {
    background: none;
    border: none;
    font-size: 24px;
    color: #B9FF66;
    cursor: pointer;
  }
  
  .nav-arrow.left {
    position: absolute;
    left: 20px;
  }
  
  .nav-arrow.right {
    position: absolute;
    right: 20px;
  }
  
  /* Индикаторы (точки) */
  .dots {
    margin-top: 20px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    display: inline-block;
    background: #555;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot.active {
    background: #B9FF66;
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {

    .testimonial-slider {
      padding: 30px;
    }
  
    .nav-arrow {
      font-size: 30px;
    }
    .nav-arrow.left {
      position: absolute;
      left: -25px;
    }
    
    .nav-arrow.right {
      position: absolute;
      right: -25px;
    }
    .testimonials-header h2 {
      font-size: 30px;
      max-width: 70%;
    }
    .testimonials-header p {
      max-width: 60%;
    }
  }
  
  