* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Space Grotesk", sans-serif;
    background-color: white;
}

body {
    margin: 0 auto;
    padding: 0 clamp(20px, 5vw, 100px); /* Отступы адаптивны */
    padding-top: 60px;
    max-width: 100%; 
    background-color: white;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


@media (max-width: 768px) {
    body {
        padding: 10px clamp(20px, 5vw, 100px); 
        padding-top: 60px;
    }
}