
.footer {
    background: #191A23;
    color: #fff;
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    background: transparent;
    padding: 55px 60px;
  }
  
  .footer-top {
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;

  }

  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background: transparent;
  }
  .footer-logo img {
    background: transparent;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    background: transparent;
  }
  
  .footer-menu a {
    background: transparent;
    color: #fff;
    font-weight: 400;
  }
    /* Соцсети */
    .social-icons {
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      background: transparent;
    }
    
    .social-icons img {
      width: 30px;
      height: 30px;
      transition: 0.3s;
      background: transparent;
      cursor: pointer;
      display: block;
    }
    .social-icons a {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border: none;
    }
    
    .social-icons img:hover {
      transform: scale(1.1);
      background: transparent;
    }


  .footer-middle {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .contact-info {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .contact-info p {
    background: transparent;
    font-size: 18px;
    max-width: 60%;
  }

  .contact-info .contact-title {
    background: #B9FF66;
    margin-bottom: 7px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    padding:0 7px;
    border-radius: 7px;
  }

  .subscribe-box {
    display: flex;
    background: #292A32;
    padding: 5px;
    border-radius: 14px;
    margin-bottom: 15px;
  
  }
  
  .subscribe-box input {
    flex: 1;
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    background: transparent;
  }
  
  .subscribe-box button {
    background: #B9FF66;
    border: none;
    padding: 20px 35px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 14px;
    color: black;
  }
  
  .subscribe-box button:hover {
    background: #B9FF66;
  }
  

  
  /* Нижняя часть (копирайт) */
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #555;
    font-size: 14px;
    background: transparent;
    padding: 20px 0;
  }
  
  .footer-bottom p {
    background: transparent;
    font-size: 18px;
  }
  
  .footer-bottom a {
    color: #B9FF66;
    text-decoration: none;
    background: transparent;
    font-size: 18px;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 1024px) {
    .footer {
      margin: 0;
      padding: 0;
    }
  
    .footer-container {
      margin: 0;
    }
    .footer-top,
    .footer-middle {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
    }
  
    .footer-logo {
      margin-bottom: 10px;
    }
  
    .footer-menu {
      flex-direction: column;
      gap: 15px;
      align-items: center;
      margin-bottom: 12px;
    }

    .footer-menu a {
      font-size: 20px;
    }
  
    .social-icons {
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .contact-info {
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .contact-info p {
      max-width: 100%;
    }
  
    .subscribe-box {
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      gap: 10px;
    }
  
    .subscribe-box input {
      width: 100%;
      text-align: center;
    }
  
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .footer-container {
      padding: 20px 15px;
    }
  
    .footer-menu {
      gap: 10px;
    }
  
    .subscribe-box {
      padding: 10px;
    }
  
    .subscribe-box button {
      padding: 16px 25px;
      font-size: 14px;
    }
  
    .contact-info .contact-title {
      font-size: 18px;
    }
  
    .footer-bottom p,
    .footer-bottom a {
      font-size: 16px;
    }
  }
  